# pip install -r requirements.txt

# base ----------------------------------------
Cython
opencv-python
numpy>=1.18.5
pillow
PyYAML>=5.3
scipy>=1.4.1
torch>=1.6.0
torchvision>=0.7.0
tqdm>=4.41.0
click


# extras --------------------------------------
# thop  # FLOPS computation

